
.grupocelda {
   display: grid; 
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1px;
}
  
#celda0 {
   text-align: center;
   margin: 1px;
   background-color: #6B8DAF; 
   grid-row-start: 1;
   grid-column-start: 1;
   grid-row-end: 2;
   grid-column-end: 4;
   
}
#celda1 {
   text-align: center;
   margin: 1px;
   background-color: #D88DFF; 
   grid-row-start: 2;
   grid-column-start: 1;
   grid-row-end: 4;
   grid-column-end: 2;
}

#celda4 {
   text-align: center;
   margin: 1px;
   background-color: #5B59F7; 
   grid-row-start: 3;
   grid-column-start: 2;
   grid-row-end: 4;
   grid-column-end: 3;
}
#celda3 {
   text-align: center;
   margin: 1px;
   background-color: #57CCEA; 
   grid-row-start: 2;
   grid-column-start: 2;
   grid-row-end: 3;
   grid-column-end: 3;
}
#celda2 {
   text-align: center;
   margin: 1px;
   background-color: #EBBCB6; 
   grid-row-start: 2;
   grid-column-start: 3;
   grid-row-end: 3;
   grid-column-end: 4;
}
#celda5 {
   text-align: center;
   margin: 1px;
   background-color: #ABEB9D; 
   grid-row-start: 3;
   grid-column-start: 3;
   grid-row-end: 4;
   grid-column-end: 4;
}
