div {
    border: 2px black solid;
    border-radius: 5px;
    text-align: left;
}

h1 {
    text-align: center;
}

#html {
    float: right;
    vertical-align: top;
}

#css {
    float: left;
    vertical-align: middle;
}

#js {
    float: left;
    vertical-align: middle;
}