#titulo{
    text-shadow: 1px 2px 0px black;
}

#subtitulo {
    text-shadow: 2px 2px 0px #1B2631;
}

#parrafo1:hover {
   text-shadow:  3px 3px 1px #ccc, 3px 4px 1px #3f1234;
}

#parrafo2 {
    box-shadow: 23px 10px 5px 0px green; 
}

#parrafo3 {
    box-shadow: -10px -10px 0px red;
}

#parrafo4 {
    box-shadow: 22px -1px 0px -4px blue; 
    width: 300px;
}
