body {
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,412,255,1) 18%, rgba(2,0,36,1) 91%, rgba(9,9,121,1) 95%);
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    border: rgb(500, 147, 255) 5px double;
}

a {
    color: black;
}

h1 {
    border: rgb(100, 47, 455) 5px double;
}

