#definicion {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

#parrafo_especial {
    font-style: italic;
    color: green;
    font-size: 14px;
}

h1, h2 {
    color: red;
}

body {
    background-color: lightblue;
    color: grey;
}