.grupoimagen{
      display: grid;
      grid-template-columns: 100px 100px 100px 100px;
      gap: 70px;
      row-gap: 10px;
  }
.imagen1{
    grid-row-start: 1;
    grid-row-end: 3;
}

.imagen2{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.imagen3{
    grid-column-start: 3;
    grid-column-end: 5;
}
.imagenpicsum1{
      border-radius: 20px;
      height:100%; 
      width: 160%;
}
.imagenpicsum2{
      border-radius: 20px;
      height: 200px;
}
.imagenpicsum3{
      border-radius: 20px;
      height: 200px;
      width: 340px;
}