body {
    text-align: center;
    background: rgb(131,58,180);
background: linear-gradient(270deg, rgba(131,58,180,1) 0%, rgba(177,106,255,0.8085434002702644) 50%, rgba(215,69,252,1) 100%);
}

.forms {
    border: rgb(89, 0, 255) 5px double;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}