.inscripcion {
    text-align: center;
}

.quest1 {
    background-color: gray;
}

.quest2 {
    background-color: rgb(252, 152, 60);
}


.quest3 {
    background-color: rgb(255, 57, 172);
}

.examen {
    border: black 5px solid;
}

body {
    background: rgb(180,58,137);
background: linear-gradient(270deg, rgba(180,58,137,0.5284313554523372) 0%, rgba(177,106,255,0.8085434002702644) 50%, rgba(215,69,252,0.8589635683374912) 100%); 
}

ul {
   list-style: none;
}

legend {
    background-color: white;
}