.grupoceldas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.celda1 {
    text-align: center;
    background-color: aqua;
    grid-area: 2 / 1 / 3 / 2; 
}
.celda2 {
    text-align: center;
    background-color: blue;
    grid-area: 2 / 2 / 3 / 3; 
}
.celda3 {
    text-align: center;
    background-color: brown;
    grid-area: 2 / 3 / 3 / 4; 
}
.celda4 {
    text-align: center;
    background-color: yellow;
    grid-area: 1 / 1 / 2 / 4; 
}
.celda5 {
    text-align: center;
    background-color: thistle;
    grid-area: 1 / 4 / 3 / 5; 
}
    