::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #121629;
}

::-webkit-scrollbar-thumb {
    background: #ff15cc;
    border-radius: 3px;
}

img {
    text-align: center;
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(61, 0, 27) 0%, rgba(148,187,233,1) 100%); 
    text-align: center;
}