body {
    background-color: lightslategray;
}

h1, h2 {
    font-family: Impact;
    text-align: center;
}

p {
    text-transform: uppercase;
    font-family: Cambria;
}

span {
    font-style: italic;
    text-decoration: underline;
}